NODE_ENV=production
API_URL=http://localhost:3000/api
HOME_URL=https://www.cmms.corefm.de
INVITATION_VIA_EMAIL=false
GOOGLE_TRACKING_ID=
GOOGLE_KEY=
CLOUD_VERSION=false
ENABLE_SSO=false
OAUTH2_PROVIDER=
LOGO_PATHS=
CUSTOM_COLORS=
BRAND_CONFIG=
DEMO_LINK=
PADDLE_SECRET_TOKEN=
PADDLE_ENVIRONMENT=production
RECAPTCHA_SITE_KEY=
LDAP_ENABLED=false
CLARITY_ID=
SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_RELEASE=
CLARITY_ID=